dist
node_modules
coverage
.env
.vscode
.swc
*:Zone.Identifier
*:Avecto.Zone.Identifier
*:PG$Secure

.terraform/
.terraform.lock.hcl
.DS_Store
junit.xml
storybook-static
/test-results/
/playwright-report/
/playwright/.cache/
.env
results.xml
.screenshots
__generated__
